<div class="contact-information-container">
    <form [formGroup]="contactInfoForm" (ngSubmit)="onSubmit()" class="contact-information-form">
        <mat-form-field appearance="fill">
            <mat-label>Country: </mat-label>
            <mat-select>
                <mat-option *ngFor="let country of contactInfo.countryCodes" [value]="country">
                    {{country}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Continue</button>
    </form>
</div>